
$key-size: 2.5em;

.keypad {
    display: grid;
    grid-gap: $spacing-small;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);

    // Key Wrapper
    .key-w {
        text-align: center;
        
        &:last-child {
            grid-column: 2/2;
        }
    }
    
    // Key
    .key {
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 2rem; // 32px
        font-weight: 500;
        color: $white;

        border-radius: .5em; // 16 px
        border: .06em solid $gray-500; // 1.92px
        width: $key-size;
        height: $key-size;

        background: none;

        &:disabled {
            color: $gray-500;
        }
        
        // @todo: improove keyboard nav
        &:hover,
        &:focus {
            // background: $white-transparent;
            cursor: pointer;
        }

        &:focus:active {
            background: $gray-700;
        }
    }
}
