// Settings
@import 'settings/spaces';
@import 'settings/colors';

// Normalize
@import 'normalize';

// Components
@import 'components/keypad';
@import 'components/visor';

body {
    font-family: 'Roboto';
    background-color: $gray-800;
}

#root {
    max-width: (80px * 3) + ($spacing-small * 2); // ($key-size * 3) + (8px * number of column gaps)
    margin: 0 auto;
}
